@font-face {
  font-family: 'Typewriter';
  font-weight: normal;
  src: url(./assets/Typewriter\ Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Typewriter';
  font-weight: bold;
  src: url(./assets/american-typewriter-bq-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Monsterrat';
  font-weight: normal;
  src: url(../src/assets/Montserrat-Regular.woff2) format('woff2');
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff6eb;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.top-bar {
  background-color: #c58c6d;
  padding: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.logo-wrapper {
  display: inline-block;
  margin: 0px;
  padding: 10px;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Typewriter', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff6eb;
  letter-spacing: 1.3px;
  padding-left: 7px;
}

#logo-img {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 40px;
}

.work-area-container {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 60px 200px;
  box-sizing: border-box;
}

.description-player-wrapper {
  margin: 50px 0px 0px 0px;
  padding: 40px 40px 300px 40px;
  width: 25%;
}

.text-block-wrapper {
  margin: 0px 0px 0px 20px;
  padding: 40px;
  width: 70%;
  height: 100%;
  position: relative;
}

#header {
  font-family: 'Typewriter', sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 0.6px;
  color: #c58c6d;
  margin-bottom: 8px;
}

#read-header {
  font-family: 'Typewriter', sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 0.6px;
  color: #6b705c;
  margin-bottom: 8px;
}

#paragraph {
  font-family: 'Monsterrat', Helvetica;
  font-weight: lighter;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  color:#c58c6d;
  width: 280px;
  margin-top: 5px;
  margin-bottom: 60px;
}

.divider {
  position: relative;
  padding-top: 20px;
}

.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: #ddbea9;
}

.button {
  font-family: 'Typewriter', sans-serif;
  font-weight: normal;
  color: #fff6eb;
  border-radius: 10px;
  padding: 10px 0px;
  background-color: #6b705c;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.6px;
  height: 50px;
  width: 160px;
  border: none;
  cursor: pointer;
}

.generate-button {
  position: absolute;
  top: 30px;
  transition: background-color 0.3s ease, top 1.5s;
  margin: 30px 0px 0px 10px;
}

.generate-button:hover {
  background-color: #c58c6d;
  border:1px solid #fff6eb;
}

.generate-button.move {
  top: 150px;
}

.options-wrapper {
  position: relative;
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}

.paste-tab {
  background-color: #6b705c;
  padding-top: 5px;
}

.paste-tab:hover {
  color:#c58c6d;
  box-shadow: 0 4px 8px rgba(108, 67, 52, 0.25);
  border: 1px solid #fff6eb;
  transition: color 0.3s ease;
}

.upload-tab {
  background-color: #c58c6d;
  padding-top: 5px;
}

.upload-tab:hover {
  color:#6b705c;
  box-shadow: 0 4px 8px rgba(108, 67, 52, 0.25);
  border: 1px solid #fff6eb;
  transition: color 0.3s ease;
}

.text-box {
  position: absolute;
  font-family: 'Monsterrat', Helvetica;
  font-weight: normal;
  font-size: 15px;
  border-radius: 25px;
  padding: 50px;
  background-color: #f1e3d3;
  letter-spacing: 0.6px;
  width: 80%;
  height: 60%;
  margin-top: -10px;
}

.text-box:focus {
  outline: none;
}

.text-box::placeholder {
  color: #6b705c;
}

.text-box:focus::placeholder {
  color: transparent;
}

.paste-box {
  border: 3px solid #6b705c;
  z-index: 2;
  color: #6b705c;
  line-height: 1.8;
}

.upload-box {
  border: 3px solid #c58c6d;
  z-index: 1;
  color: #fff6eb;
  background-color: #ddbea9;
}

.upload-box::file-selector-button {
  background-color: #fff6eb;
  color:#c58c6d;
  border: solid #fff6eb;
  border-radius: 5px;
  font-family: 'Monsterrat', Helvetica;
}

.active {
  z-index: 3;
}

.audio-player-wrapper {
  position: relative;
  height: 150px;
  width: 100%;
  padding: 30px 0px;
}

.custom-audio-player {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  gap: 10px;
  background-color: #fff6eb;
  border: 2px solid #6b705c;
  border-radius: 20px;
  transition: visibility 0s, linear 1s;
}

.play-button {
  width: 30px;
  height: 30px;
  background-color: #6b705c;
  border:#6b705c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.play-button:focus {
  outline: 1px #6b705c;
}

.play-button:hover {
  background-color: #c58c6d;
  cursor: pointer;
}

/* Play icon triangle */
.play-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 11px; /* Creates triangle shape */
  border-color: transparent transparent transparent #fff6eb; /* White play icon */
  transform: translateX(1px); /* Slight adjustment to center the triangle */
  transition: all 0.3s ease;
}

.play-button.playing::before {
  content: '';
  width: 4px;
  height: 12px;
  background-color: #fff6eb;
  border: none;
  border-radius: 1px;
  transform: translateX(-4px);
}

.play-button.playing::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #fff6eb;
  border: none;
  border-radius: 1px;
  transform: translate(4px, 0px);
}

#seekBar {
  width: 50%;
  accent-color: #c58c6d;
  color:#fff6eb;
  height: 8px; /* Height of the track */
  -webkit-appearance: none; /* Remove default styles on WebKit browsers */
  background: linear-gradient(to right, #c58c6d 0%, #c58c6d var(--progress), #ebe1d8 var(--progress), #ebe1d8 100%);
  border-radius: 5px; /* Rounded corners */
  outline: none;
  cursor: pointer;
}

#currentTime {
  color: #6b705c; /* Set to your desired color */
  font-size: 11px;
  font-weight: bold;
  font-family: 'Monsterrat', Helvetica;
}

.show {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s ease-in forwards;
}

.alert {
  background-color:#c5776d;
  color:#fff6eb;
  padding: 10px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.alert.show {
  visibility: visible;
}